.tree-level-1-title{
	overflow: hidden;
}
.internet-school-content{
	width:40rem;
	overflow: hidden;
	height: 100%;
	float: left;
	margin-top: 0.2rem;
	padding-left: 1.2rem;
	height:100%;
}
.internet-school-content h2{
	height: 2.5rem;
	line-height: 2.5rem;
	float: left;
}
.tree-level-1-info{
	float: left;
	overflow: hidden;
}
.tree-level-1-list{
	clear: both;
}

.basic-btns{
	margin: 0.5rem;
	border: 1px solid #EAEAEA;
	border-radius: 0.3rem;
	float: left;
	height: 1.5rem;
	padding: 0rem 0.8rem;
	line-height: 1.5rem;
	text-align: center;
}
.basic-add-btns{
	float: right;
	background-color: #5E5E5E;
	color: #ffffff;
}
.hide{
	display:none;
}
